*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #ff0000;
  --clr-background: #e7e7e7;
  --fs-h1: 8.15rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 8.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  background-color: var(--clr-background);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

body .background {
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 100%;
  background-image: url("../img/background.webp");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  pointer-events: none;
}

body section {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section {
  overflow: hidden;
}

body img {
  display: block;
  max-width: 100%;
}

body strong {
  font-weight: var(--fw-bold);
}

body a {
  text-decoration: none;
  color: inherit;
}

/* TYPOGRAPHY */
h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
  font-family: 'Kite One', sans-serif;
  line-height: 0.7;
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  font-family: var(--ff-secondary);
}

/* PAGE TITLES */
header {
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* NAVIGATION */
#fp-nav.fp-right {
  right: 0;
}

#fp-nav {
  height: 100vh;
  width: 10vw;
  background-color: var(--clr-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1em;
  -webkit-box-shadow: -6px 0 30px -6px var(--clr-background);
          box-shadow: -6px 0 30px -6px var(--clr-background);
}

#fp-nav ul li {
  padding-bottom: 85px;
}

#fp-nav ul li .fp-tooltip {
  color: var(--clr-dark);
  font-size: 1.5rem;
  opacity: 1;
  width: auto;
  top: -20px;
}

#fp-nav ul li .fp-tooltip.fp-right {
  right: 35px;
}

#fp-nav ul li a span,
#fp-nav ul li a.active span,
#fp-nav ul li:hover a span,
#fp-nav ul li:hover a.active span {
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
}

#fp-nav ul li a span {
  border: 2px solid var(--clr-dark);
  background-color: var(--clr-light);
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
  background-color: var(--clr-dark);
}

#fp-nav ul li:before {
  position: absolute;
  left: 6px;
  top: 0;
  content: '';
  height: 115%;
  width: 0;
  border-left: 2px solid #000;
}

#fp-nav ul li:last-of-type:before {
  border: none;
}

/* INTRO SECTION */
.intro h1 {
  position: relative;
}

.intro h1:before, .intro h1:after {
  position: absolute;
  font-size: 0.7em;
  color: #aaaaaa;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.intro h1:before {
  content: '<h1>';
  top: -0.9em;
  left: -2.5em;
}

.intro h1:after {
  content: '</h1>';
  bottom: -0.9em;
  right: -2.5em;
}

.intro h1 p {
  margin: 0;
}

.intro h1 p .intro__first-name-highlight {
  color: var(--clr-accent);
}

.intro h1 p.intro__last-name {
  margin-left: 0.4em;
}

.intro h1 p.intro__last-name .intro__last-name-highlight {
  color: var(--clr-accent);
}

.intro .section__subtitle--intro {
  font-size: 3rem;
  margin-left: 6em;
  color: #585858;
}

.intro .intro__img {
  max-height: 55%;
  position: absolute;
  bottom: -20px;
}

@media (min-width: 600px) {
  .intro .section__title--intro,
  .intro .section__subtitle--intro {
    margin-top: 10%;
    margin-right: 50%;
  }
  .intro .intro__img {
    right: 400px;
  }
}

/* PROJECTS SECTION */
.my-projects .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-projects .portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 'a b c' 'e f g';
  gap: 1.5em 2.5em;
  max-width: 52%;
  height: calc(97% - 150px);
  overflow: hidden auto;
}

.my-projects .portfolio .grid-1x1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.my-projects .portfolio .grid-1x2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.my-projects .portfolio .grid-1x3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.my-projects .portfolio .grid-2x1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: e;
}

.my-projects .portfolio .grid-2x2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: f;
}

.my-projects .portfolio .grid-2x3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: g;
}

.my-projects .portfolio .portfolio__item .portfolio__img {
  -webkit-box-shadow: 0 3px 20px -10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 20px -10px rgba(0, 0, 0, 0.25);
}

.my-projects .portfolio .portfolio__item .portfolio__item-description {
  border: 1px solid #cccccc;
  border-top: 0;
  margin: 0;
  padding: 1em;
}

.my-projects .project-slide {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-projects .project-slide .project-title {
  font-size: 2.2rem;
  margin: 0.5em 0 1.5em;
}

.my-projects .project-slide .project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

.my-projects .project-slide .project-content .project-image {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 50%;
  height: auto;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}

.my-projects .project-slide .project-content .project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 9em 0 3em;
}

.my-projects .project-slide .project-content .project-text .project-tech-stack p {
  width: 30%;
  padding-bottom: 1em;
  border-bottom: 1px solid #d3d3d3;
  text-align: center;
}

.my-projects .project-slide .project-content .project-text .project-tech-stack ul {
  margin-left: 2em;
}

.my-projects .project-slide .project-content .project-text .project-links a {
  background-color: var(--clr-accent);
  padding: 0.7em;
  border-radius: 0.5em;
  -webkit-transition: 50ms linear 0s;
  transition: 50ms linear 0s;
}

.my-projects .project-slide .project-content .project-text .project-links a:hover, .my-projects .project-slide .project-content .project-text .project-links a:focus {
  color: var(--clr-accent);
  background-color: var(--clr-dark);
}

.my-projects .project-slide .project-content .project-text .project-links a i {
  margin-right: 0.4em;
}

.fp-slidesNav.fp-bottom {
  text-align: center;
  bottom: -30px;
}

.fp-slidesNav.fp-bottom ul {
  margin-left: -160px;
}

.fp-slidesNav.fp-bottom ul li {
  margin: 15px 15px -20px;
  width: 70px;
  height: 60px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.fp-slidesNav.fp-bottom ul li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--clr-dark);
  width: 240px;
  height: 2.5em;
  padding-left: 50px;
  text-align: center;
  color: var(--clr-light);
  -webkit-transition: -webkit-transform 400ms ease 0s;
  transition: -webkit-transform 400ms ease 0s;
  transition: transform 400ms ease 0s;
  transition: transform 400ms ease 0s, -webkit-transform 400ms ease 0s;
}

.fp-slidesNav.fp-bottom ul li a:before {
  content: '';
  position: absolute;
  right: -29px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 30px solid var(--clr-dark);
  border-top: 1.25em solid transparent;
  border-bottom: 1.25em solid transparent;
}

.fp-slidesNav.fp-bottom ul li a span {
  all: unset;
  margin: 0 !important;
  height: auto !important;
  width: auto !important;
}

.project-slide {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}
/*# sourceMappingURL=style.css.map */