*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-title: 'Kiwi Maru', serif;
  --ff-intro-title: 'Kite One', sans-serif;
  --ff-nav: 'Poppins', sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #ff0000;
  --clr-background: #e7e7e7;
  --clr-body-text: #545454;

  --fs-h1: 8.15rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 8.5rem;
    --fs-h2: 6rem;
    --fs-h3: 4rem;
    --fs-subtitle: 2.2rem;
    --fs-body: 1.125rem;
  }
}

body {
  background-color: var(--clr-background);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;

  .background {
    position: absolute;
    z-index: 101;
    width: 100%;
    height: 100%;
    background-image: url('../img/background.webp');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section {
    overflow: hidden;
  }

  img {
    display: block;
    max-width: 100%;
  }

  strong {
    font-weight: var(--fw-bold);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

/* TYPOGRAPHY */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
  font-family: var(--ff-intro-title);
  line-height: 0.7;
}

h2 {
  font-size: var(--fs-h2);
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
}

h3 {
  font-size: var(--fs-h3);
  font-family: var(--ff-title);
}

p {
  max-width: 55ch;
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__subtitle {
  margin: 1em 0;
  font-size: var(--fs-subtitle);
  color: var(--clr-body-text);
  font-family: var(--ff-title);
}

/* NAVIGATION */

#fp-nav.fp-right {
  right: 0;
  padding-right: 7em;
}

#fp-nav {
  height: 100vh;
  width: 13vw;
  background-color: var(--clr-background);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: -6px 0 10px 10px var(--clr-background);

  ul li {
    padding-bottom: 58px;

    a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 2.5em;
      padding-right: 6.1em;
      color: var(--clr-light);
      background: var(--clr-dark);
      font-family: var(--ff-nav);
      transition: transform 400ms ease 0s;

      &:before {
        content: '';
        position: absolute;
        left: -30px;
        bottom: 0;
        width: 0;
        height: 0;
        border-right: 30px solid var(--clr-dark);
        border-top: 1.25em solid transparent;
        border-bottom: 1.25em solid transparent;
      }

      &.active {
        transform: translateX(-30px);
      }

      span {
        all: unset;
        margin: 0 !important;
        height: auto !important;
        width: auto !important;
      }
    }
  }
}

/* INTRO SECTION */

.intro {
  h1 {
    position: relative;

    &:before,
    &:after {
      position: absolute;
      font-size: 0.7em;
      color: #bbbbbb;
      transform: rotate(-30deg);
    }

    &:before {
      content: '<h1>';
      top: -0.9em;
      left: -2.5em;
    }

    &:after {
      content: '</h1>';
      bottom: -0.9em;
      right: -2.5em;
    }

    p {
      margin: 0;

      .intro__first-name-highlight,
      .intro__last-name-highlight {
        color: var(--clr-accent);
      }

      &.intro__last-name {
        margin-left: 0.4em;
      }
    }
  }

  .section__subtitle--intro {
    font-family: var(--ff-title);
    font-size: 3rem;
    margin-left: 6em;
    color: rgb(88, 88, 88);
  }

  .intro__img {
    max-height: 55%;
    position: absolute;
    bottom: -20px;
  }
}

@media (min-width: 600px) {
  .intro {
    .section__title--intro,
    .section__subtitle--intro {
      margin-top: 11%;
      margin-right: 44%;
    }
    .intro__img {
      right: 300px;
    }
  }
}

/* ABOUT + CONTACT SECTIONS */

.about-me,
.contact-me {
  align-items: flex-start;
  padding: 13% 0 0 15%;

  .about-me__body,
  .contact-me__body {
    font-size: 1.5rem;
    color: var(--clr-body-text);

    p {
      margin-bottom: 1em;
    }

    img {
      position: absolute;
      bottom: -25px;
      right: 20%;
    }
  }
}
/* ABOUT SECTION */

.about-me__body {
  p {
    padding: 0;
    margin: 0;
  }
}

/* PROJECTS SECTION */

.my-projects {
  .slide {
    position: relative;
    display: flex;
    justify-content: center;

    header {
      position: absolute;
      top: 0;
      left: 0;
      padding: 12% 0 0 15%;
    }
  }

  .portfolio {
    margin-top: 9%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      '. . a b'
      'c d e f';
    gap: 1.5em 2.5em;
    max-width: 65%;
    height: calc(77% - 150px);
    overflow-y: hidden;

    .grid-1x1 {
      grid-area: a;
    }
    .grid-1x2 {
      grid-area: b;
    }
    .grid-1x3 {
      grid-area: c;
    }
    .grid-2x1 {
      grid-area: d;
    }
    .grid-2x2 {
      grid-area: e;
    }
    .grid-2x3 {
      grid-area: f;
    }

    .portfolio__item {
      position: relative;
      height: auto;

      .portfolio__img {
        box-shadow: 0 3px 20px -10px rgba(0, 0, 0, 0.25);
      }

      .portfolio__item-description {
        border: 1px solid #cccccc;
        border-top: 0;
        margin: 0;
        padding: 1em;
      }

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }

  .project-slide {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .project-title {
      margin: 1.3em 0;
    }

    .project-content {
      display: flex;
      width: 90%;

      .project-image {
        object-fit: contain;
        max-width: 50%;
        height: auto;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
      }

      .project-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 9em 0 3em;

        .project-description {
          // style
        }

        .project-tech-stack {
          p {
            width: 30%;
            padding-bottom: 1em;
            border-bottom: 1px solid #d3d3d3;
            text-align: center;
          }

          ul {
            margin-left: 2em;
          }
        }

        .project-links {
          a {
            padding: 0.7em;
            border-radius: 0.5em;
            transition: 50ms linear 0s;
            color: var(--clr-light);
            background-color: var(--clr-dark);

            &:hover,
            &:focus {
              color: var(--clr-dark);
              background-color: var(--clr-accent);
            }

            i {
              margin-right: 0.4em;
            }
          }
        }
      }
    }
  }
}

.fp-slidesNav.fp-bottom {
  text-align: center;
  bottom: -30px;

  ul {
    margin-left: -160px;

    li {
      margin: 15px 15px -20px;
      width: 70px;
      height: 60px;
      transform: rotate(-40deg);

      a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--clr-dark);
        width: 240px;
        height: 2.5em;
        padding-left: 50px;
        text-align: center;
        font-family: var(--ff-nav);
        color: var(--clr-light);
        transition: transform 400ms ease 0s;

        &:before {
          content: '';
          position: absolute;
          right: -29px;
          bottom: 0;
          width: 0;
          height: 0;
          border-left: 30px solid var(--clr-dark);
          border-top: 1.25em solid transparent;
          border-bottom: 1.25em solid transparent;
        }

        span {
          all: unset;
          margin: 0 !important;
          height: auto !important;
          width: auto !important;
        }
      }
    }
  }
}

.project-slide {
  transform: translateX(30px);
}

/* CONTACT SECTION */

.contact-me {
  .section__subtitle--contact {
    display: inline-block;
    margin-top: 0.25em;
    margin-right: 0.25em;
  }

  .social-links {
    display: flex;
    justify-content: space-between;
    width: 21rem;
    margin: 0.5em 0 3em;

    i {
      font-size: 6rem;
      color: var(--clr-dark);
      transition: 50ms linear 0s;

      &:hover,
      &:focus {
        color: var(--clr-accent);
        outline: none;
      }
    }
  }

  .contact-me__resume {
    a {
      color: var(--clr-background);
      background-color: var(--clr-dark);
      padding: 0.6em;
      border-radius: 0.3em;
      transition: 50ms linear 0s;

      &:hover,
      &:focus {
        background-color: var(--clr-accent);
      }
    }
  }

  img {
    transform: scaleX(-1);
  }
}
